@import './base.css';

body {
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-family: 'Open Sans', sans-serif; 
}

.volver {
    position: absolute;
    top: 20px;
    left: 20px;
}

button,
.btn-volver {
    background-color: #5e35b1;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.volver-btn:hover {
    background-color: #7e57c2;
}
.volver-menu {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Efectos de hover */
button:hover {
    background-color: #00796b;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.celda {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 2px solid #5e35b1;
    font-size: 36px;
    font-weight: bold;
    color: #5e35b1;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.celda:hover {
    background-color: #c5cae9;
    transform: scale(1.1);
}

.celda.seleccionada {
    background-color: #ffeb3b;
}

.celda.encontrada {
    background-color: #81c784;
    color: white;
}
